body{
    font-family: Arial, Helvetica, sans-serif;
}
.table-image {
    border-radius: 8px;

}
#page-wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
h1{
    font-size: 24px;
    margin: auto;
}

.calendar{
    display: block;
    position: relative;
    margin: auto;
    padding: 5px;
}

.w3-card-4{
    border: solid black;
    text-align: center;
}

 
#page-wrap > div.calendar > div:nth-child(3) > input[type=text]{
    border: solid black;
    width: 60%;
    margin: 20px 20% 20px 20%;
}

 
.introContainer{
    margin: 20px auto;
    border: solid black;
    padding: 10px;
}

 
#page-wrap > div.calendar > iframe{
    border: solid black;
    width: 100%;
    padding: 10px;
}

/*----------Dummy page -------------------*/
#dummy_image{
    float:left;
    border: solid;
    margin: 10px;
}

#dummy_desc_text{
    color: black;
    padding-left: 1px;
}

#dummy_desc{
    padding: 2px;
}

a:link{
    text-decoration: none;
}

#dummy_desc{
    border: solid;
    padding: 20px;
    margin: 20px auto;
}

#page-wrap > div.calendar > iframe{
    border: solid;
    width: 100%;
    padding: 10px;
}

#gallery_container{
    border: solid;
    padding: 10px;
    overflow: hidden;
}


#paypal-button-container{
    margin: auto;
    width: 50%;
}

/*----------Gallery for dummy page -------------------*/

#gallery_container{
    padding: 1px;
}

div.gallery {
    margin: 5px;
    border: 1px solid rgb(5, 5, 5);
    float: left;
    width: 200px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  

/* Search box */
.search-box{
    max-width: 1000px;
    position: relative;
    display: block;
    font-size: 14px;
    margin-right:auto;
    margin-left:auto;
}
.search-box input[type="text"]{
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    background-color: #CCCCCC;
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
/* Search results*/
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}