.nav ul {
  font-family:azo-sans-web, sans-serif;
  font-style: normal;
  font-weight: 200;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
border-right: 1px solid #black;
display: inline-block;
}

.nav li a {
  display:block;
  color: white;
  text-align: center;
  padding: 15px 14px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.FooterOuter{
  width: 100%;
  background-color: black;
  color: white;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}




