
    /*--------page layout -------------*/
    
    body{
        margin: 0;
    }

    .row1{
        height: 150px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: center;
        border: solid black;
        padding: 10px;
    }

    .row2{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: center;
        border: solid black;
        padding: 10px;
    }

    @media only screen and (max-width: 900px) {
        .row1, .row2, .row3 {
            width: 90%;
        }
    }

    .row3{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: center;
        border: solid black;
        padding: 10px;
    }

    .widget1{
        border: solid black;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        margin: 10px;
        font-family: azo-sans-web, sans-serif !important;
    }

    @media only screen and (max-width: 900px) {
        .widget1 {
            width: 100%;
            border: none;
        }
    }

    /* Weather Display */

    .weatherHeader{
        width: 100%;
        border: solid;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #weatherSelect{
        width: 40%;
        margin: auto 5px;
        padding: 5px;
        border: solid;
    }


    /* --------- BUS TIME TABLE ---------*/

    #busTimetable{
        border: solid black;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        font-family: azo-sans-web, sans-serif !important;
    }

    .timeTableHead{
        width: 90%;
        margin: auto;
        display: flex;
        border-bottom: solid black ;
        align-content: center;
        flex-wrap: wrap;
    }

    #LiveDot {
        animation: blinker 1s linear infinite;
        display: flex;
        align-items: center;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    #busTimetableListings{
        width: 450px;
        border: solid black;
        padding: 10px;
        margin: 10px auto;
        height: 400px;
        overflow-y: scroll;
    }

    /* width */
    #busTimetableListings::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    #busTimetableListings::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
    #busTimetableListings::-webkit-scrollbar-thumb {
    background: black; 
    }

    /* Handle on hover */
    #busTimetableListings::-webkit-scrollbar-thumb:hover {
    background: black; 
    }

    .StopSelectCont{
        width: 90%;
        padding: 10px 0;
    }

    #busTitle{
        width: 100%;
        display: flex;
    }

    #updateStatus{
        padding: 0px 15px;
        margin: 0;
    }

    .timeTableRow{
        border-bottom: solid black;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .timeTableRow p {
        margin-left: 10px;
    }


    /*----- WEATHER WIDGET--------------*/


    
    .mainWeatherDisplay{   
        border: solid;
        width: 100%;
        height: 50%;
        margin-top: 5px;
    }

    .mainWeatherDisplay p{
        width: 100%;
        padding: 0;
        margin: 5px;
    }

    #weatherLoaction, #weatherDescription, #weatherFeelsLike{
        font-size: 130%;
    }

    .mainDisplay{
        height: 50%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    #weatherIcon, #weatherTemp, #weatherDescription, #weatherFeelsLike{
        height: 90%;
        width: 45%;
        margin: 5px;
    }

    #icon{
        height: 100%;
        width: 100%;
        object-fit: cover;
       
    }

    #weatherTemp{
        font-size: 300%;
        display: flex;
        align-items: center;
    }

    #hourWeatherDisplay{
        border: solid;
        width: 100%;
        height: 245px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .hourWeatherCard{
        width: 100px;
        height: 210px;
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hourWeatherCard p{
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .hourWeatherCard > p{
        margin-top: 10px;
        margin-bottom: -20px;
    }

    .hourIcon{
        width: 70px;
    }

    .hourIcon img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    #hourDesc{
        margin-top: -20px;
        height: 40px;
    }

    #hourWeatherDisplay::-webkit-scrollbar {
        height: 10px;
    }

    #hourWeatherDisplay::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    #hourWeatherDisplay::-webkit-scrollbar-thumb {
        background: black; 
    }

    #hourWeatherDisplay::-webkit-scrollbar-thumb:hover {
        background: black; 
    }

    /*---------- car park row -------------------*/

    .carparkRow{
        width: 100%;
    }

    #parkingInfo > h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #parkingInfo button{
        border: solid black;
        background-color: white;
        padding: 5px 10px;
    }

    #parkingInfo button:hover{
        background-color: grey;
    }
    
    
    .upperRow, .lowerRow{
        width: calc(100% - 40px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 20px;
    }
    
    @media only screen and (max-width: 800px) {
        .upperRow, .lowerRow {
            width: 100%;
            margin: auto;
        }
    }
    
    .lowerRow{
        margin-top: -10px;
        border-bottom: solid black;
    }

    #parkState1, #parkState2, #parkState3 , #parkState4 {
        padding: 2px 4px;
        border-radius: 10px;
    }


    /*----- information row ------------*/


    .square {
        float:left;
        position: relative;
        width: calc(30% - 8px);
        padding-bottom : calc(30% - 8px); 
        margin:1.66%;
        background-color:#1E1E1E;
        overflow:hidden;
        border: 4px solid white;
    }

    .square:hover{
        border: 4px solid black;
    }

    @media only screen and (max-width: 900px) {
        .row3 {
            width: 90%;
        }
    }

    .square a{
        text-decoration: none;
        color: white;
    }

    .content {
        position: absolute;
        height: 90%;
        width: 90%;
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 110%;
        z-index: 10;
    }

    .content .rs{
        width:auto;
        height:auto;
        max-height:90%;
        max-width:100%;
    }

    .bg{
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover; 
        color:white;
    }

    .img1{
        background-image: url('../images/bus.jpg');
    }
    .img2{
        background-image: url('../images/campusMap.jpg');
    }
    .img3{
        background-image: url('../images/forum.jpg');
    }

    .square:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 6) 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.6) 100%); 
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); 
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); 

    }

    @media only screen and (max-width: 800px) {
        .square {
            width: calc(90% - 8px);
            padding-bottom : calc(40% - 8px); 
        }

        .content{
            height: 45%;
            font-size: 140%;
            text-align: center;
        }
    }

