  .navbar {
    font-family: Ariel, sans-serif;
    margin-bottom: 0;

    background-color:#000 !important;

    color: #fff;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 2px;

    opacity: 1;
  }
  .navbar .nav-item a, .navbar .navbar-brand {
    color: #fff !important;
    background-color:#000 !important;
    
  }

.navbar-nav:link{
  color: #fff !important;
}


  .navbar-nav .nav-item {
    font-size: 16px
    padding:15px;
    border-bottom:2px solid #fff;
    margin: 10px;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .nav-link {
    color: #fff !important;
  }
  .nav-link:hover {
       border-bottom:2px solid white;
  }

  .navbar-brand{
    font-size: 25px;
    color: #fff;
  }